<div class="flex flex-col w-full pt-2">
  @for (item of data | slice : 0 : 3; track item) {
  <app-item-section
    [item]="item"
    [context]="context"
    [providerId]="providerId"
    [hasOnestFlow]="hasOnestFlow"
  ></app-item-section>
  } @if (showAll) {
  <ng-container class="fade-in">
    @for (item of data | slice : 3; track $index) {
    <app-item-section
      [item]="item"
      [context]="context"
      [providerId]="providerId"
      [hasOnestFlow]="hasOnestFlow"
    ></app-item-section>
    }
  </ng-container>
  }
</div>
@if (data.length > 3) {
<div class="w-full flex justify-end">
  <button (click)="showAll = !showAll" class="text-blue-500" mat-button>
    <!-- {{ showAll ? "Show Less" : "Show More" + "(" + (data.length - 3) + ")" }} -->
    {{
      showAll
        ? ("GENERIC.SHOW_LESS" | translate)
        : ("GENERIC.SHOW_MORE" | translate) + "(" + (data.length - 3) + ")"
    }}
  </button>
</div>

}
