::ng-deep {
  strong {
    font-weight: 400 !important;
    width: 100%;
    display: flex;
    font-size: 12px;
  }
  p {
    font-size: 12px !important;
    width: 100% !important;
    margin: 0px !important;
  }
}
