!.gitignore
**/.DS_Store
**/.env
**/misc/**
!**/misc/*.tpl.*
**/node_modules
**/package-lock.json
**/logs
**/*.plan
**/*.tfvars
**/values
!**/values.tpl/**
**/ingress
!**/ingress.tpl
**/manifests/vertexai
!**/manifests/vertexai.tpl

