<div
  class="p-3 h-fit flex flex-col md:flex-row justify-between gap-2 rounded-xl hover:bg-[#d2e4ff]"
>
  <div class="wrapper flex flex-col w-full md:w-2/6">
    @if (item?.descriptor?.media?.length) {

    <div class="flex items-center flex-row justify-start relative">
      <!-- <pre>{{ videoId }}</pre> -->
      <div
        class="youTubeVideoSection image-wrapper relative flex flex-row w-full"
        (click)="videoId && modal.openPlayer(videoId)"
      >
        <img
          [src]="
            'https://img.youtube.com/vi/' +
            (item?.descriptor?.media[0].url | safeYouTubeUrl) +
            '/0.jpg'
          "
          class="w-full md:max-w-40 max-h-32 min-h-32 rounded-md hidden md:block"
        />
        <img
          [src]="
            'https://img.youtube.com/vi/' +
            (item?.descriptor?.media[0].url | safeYouTubeUrl) +
            '/0.jpg'
          "
          class="w-full md:max-w-80 max-h-40 min-h-32 rounded-md block md:hidden"
        />

        <div class="icon-wrapper z-10">
          <span
            class="material-symbols-outlined text-7xl cursor-pointer relative z-10 text-red-700 notranslate"
          >
            play_circle
          </span>
        </div>
      </div>
      <app-youtube-modal #modal></app-youtube-modal>
    </div>

    } @if (item?.descriptor?.images?.length && !item?.descriptor?.media) {
    <div class="w-full h-[185px] md:!h-[130px] image-wrapper">
      <img
        [src]="item.descriptor.images[0].url"
        alt="{{ item.descriptor.name }}"
        class="w-full h-44 max-h-44 md:!h-32 rounded-md"
      />
    </div>
    }
    <p
      class="font-medium text-xs !mt-2"
      [appHtmlTooltip]="item.descriptor.name"
    >
      {{
        item.descriptor.name | truncatePipe : 25 : "..." | translateText | async
      }}
    </p>
  </div>
  <div
    class="main-content bg-[#F8F9FC] rounded-xl p-2 flex flex-col justify-between items-stretch md:w-4/6 gap-2"
  >
    <div class="flex flex-col">
      @if (item?.quantity?.available) {
      <span class="text-xs"
        >{{ "GENERIC.OPENINGS" | translate }}:
        {{ item?.quantity?.available.count }}</span
      >
      }
    </div>
    <div class="text-xs flex flex-row gap-1 justify-start min-h-9">
      <p
        class="text-xs"
        [innerHTML]="
          item.descriptor.long_desc | truncatePipe : 70 | translateText | async
        "
        [appHtmlTooltip]="item.descriptor.long_desc"
      ></p>
    </div>
    @if (item?.time) {
    <p class="text-xs m-0">
      <span class="font-medium"
        >{{ "GENERIC.DURATION" | translate }}:&nbsp;</span
      >{{ durationInMonths(item.time.duration) }}
    </p>
    }

    <div class="flex flex-row justify-between items-center">
      @if (item?.price) {

      <div class="flex flex-row items-center text-xs">
        <span class="font-medium">{{ "GENERIC.PRICE" | translate }}:&nbsp;</span
        >₹{{ item.price.value }}
      </div>
      } @if (item?.rating) {

      <div class="flex flex-row items-center text-xs">
        <app-ratings [rating]="item.rating"></app-ratings>
      </div>
      }
    </div>
    @if (hasOnestFlow) {
    <div class="flex flex-row items-center justify-end gap-2 mt-2">
      <!-- @if (item?.tags) {
    <a
      class="text-xs text-blue-500 hover:text-blue-600 text-center cursor-pointer"
      [matMenuTriggerFor]="menu"
      #menuTrigger
      color="primary"
      >{{ "GENERIC.MORE_DETAILS" | translate }}</a
    >

    } -->

      @if (showSelect) {
      <button
        mat-flat-button
        class="my-3 custom-btn"
        (click)="onSelect()"
        [disabled]="isClicked"
      >
        {{ "GENERIC.SELECT" | translate }}
      </button>
      } @if ( showSpinner ) {
      <mat-spinner [diameter]="30"></mat-spinner>
      }
    </div>
    } @else {
    <div class="flex flex-row items-center justify-end gap-2 mt-2">
      <a
        class="text-xs text-blue-500 hover:text-blue-600 text-center cursor-pointer"
        [matMenuTriggerFor]="menu"
        #menuTrigger
        color="primary"
        >{{ "GENERIC.MORE_DETAILS" | translate }}</a
      >
      <a
        mat-flat-button
        class="my-3 custom-btn"
        href="https://apna.co/jobs?search=true&text=driver"
        target="_blank"
      >
        {{ "Apply" | translateText | async }}
      </a>
    </div>
    }
  </div>
</div>
<mat-menu #menu="matMenu" style="padding: '5px'" class="!bg-blue-50">
  <div class="flex flex-col !bg-blue-50">
    <div class="content flex flex-col p-3 max-h-[350px] overflow-auto">
      @if (item.tags?.length) { @for (tag of item.tags; track tag) { @if
      (tag?.descriptor?.name) {
      <p class="text-sm font-medium">
        {{ tag.descriptor.name | translateText | async }}
      </p>
      } @if ( tag?.list?.length ) { @for (list of tag.list; track list) { @if (
      list?.descriptor?.name ) {
      <p class="pl-2 text-xs">
        <span class="font-medium"
          >{{ list?.descriptor?.name | translateText | async }}:&nbsp;</span
        >
        <span>
          @if (tag?.descriptor?.name.includes('Salary Information')) {
          <span>₹</span>
          }{{ list?.value }}</span
        >
      </p>
      } } } } }
    </div>
  </div>
</mat-menu>
