.youTubeVideoSection {
  border-radius: 20px;
  position: relative;
  // width: 28rem;
  // min-width: 400px;

  .icon-wrapper {
    position: absolute;
    top: 25%;
    left: calc(50% - 50px);
    transform: scale(0.5);
  }
}

@media (max-width: 768px) {
  .icon-wrapper {
    top: 30% !important;
    left: calc(50% - 65px) !important;
  }
}
