<div
  class="p-3 h-fit flex flex-col md:flex-row justify-between gap-2 rounded-xl hover:bg-[#d2e4ff]"
>
  <!-- <pre>{{ item.videos[0] | json }}</pre> -->
  <div class="wrapper flex flex-col w-full md:w-2/6">
    <div class="flex items-center flex-row justify-start relative">
      <div
        class="youTubeVideoSection image-wrapper relative flex flex-row w-full"
        (click)="modal.openPlayer(videoId)"
      >
        <img
          [src]="
            'https://img.youtube.com/vi/' +
            (item.videos[0].url | safeYouTubeUrl) +
            '/0.jpg'
          "
          class="w-full md:max-w-40 max-h-32 min-h-32 rounded-md hidden md:block"
        />
        <img
          [src]="
            'https://img.youtube.com/vi/' +
            (item.videos[0].url | safeYouTubeUrl) +
            '/0.jpg'
          "
          class="w-full md:max-w-80 max-h-40 min-h-32 rounded-md block md:hidden"
        />

        <div class="icon-wrapper z-10">
          <span
            class="material-symbols-outlined text-7xl cursor-pointer relative z-10 text-red-700 notranslate"
          >
            play_circle
          </span>
        </div>
      </div>

      <app-youtube-modal #modal></app-youtube-modal>
    </div>
    <p
      class="text-xs font-medium py-2"
      [matTooltip]="item.descriptor.name | translateText | async"
    >
      {{
        item.descriptor.name | truncatePipe : 25 : "..." | translateText | async
      }}
    </p>
  </div>
  <div
    class="main-content bg-[#F8F9FC] rounded-xl p-2 flex flex-col justify-between items-stretch md:w-4/6"
  >
    <p
      class="text-xs font-medium py-2"
      [matTooltip]="item.videos[0].shortDesc | translateText | async"
    >
      {{
        item.videos[0].shortDesc
          | truncatePipe : 75 : "..."
          | translateText
          | async
      }}
    </p>
    <p
      class="text-xs py-2"
      [matTooltip]="item.videos[0].longDesc | translateText | async"
    >
      {{
        item.videos[0].longDesc
          | truncatePipe : 115 : "..."
          | translateText
          | async
      }}
    </p>
  </div>
  <!-- <button mat-flat-button class="my-3 custom-btn">
    {{ "GENERIC.SELECT" | translate }}
  </button> -->
</div>
