<div
  class="mx-auto flex flex-1 gap-4 text-base md:gap-5 lg:gap-6 md:max-w-3xl lg:max-w-[40rem] xl:max-w-[48rem] mb-5 cust-position"
>
  <div class="flex flex-col">
    <img
      src="https://cdn.sellerapp.com/img/logo-2.svg"
      alt="sellerapp"
      class="w-10 h-10 rounded-full mb-3 bg-[#eceef4] p-2"
    />
    <h2 class="clientName !font-semibold !text-3xl md:!text-5xl">
      {{ "EMPTY.HELLO_KRISHNA" | translate }}
    </h2>
    <h3 class="!text-xl md:!text-3xl">{{ "EMPTY.HOW_CAN_I" | translate }}</h3>
    <div class="w-full">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-3 mt-8">
        @for (item of emptyDemoMap; track $index) {
        <div
          class="flex flex-col justify-between p-3 rounded-lg bg-[#eceef4] h-16 md:h-40 hover:bg-[#d2e4ff] cursor-pointer"
          (click)="onSearch(item)"
        >
          <p class="text-sm">{{ item.exPrompt | translate }}</p>
          <div class="flex flex-row justify-end">
            <div
              class="bg-white rounded-full w-8 h-8 items-center justify-center hidden md:flex"
            >
              <span class="material-symbols-outlined">
                {{ item.icon }}
              </span>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
