<!-- <div class="p-3 w-[220px]">
  <div class="flex flex-row justify-between items-center gap-2">
    <button
      mat-button
      mat-flat-button
      color="primary"
      class="flex items-center m-0"
      class="object-contain"
      (click)="clear()"
    >
      + {{ "GENERIC.NEW_CHAT" | translate }}
    </button>
    <span
      class="material-symbols-outlined notranslate cursor-pointer"
      (click)="clear()"
    >
      clear_all
    </span>
  </div>
 
</div> -->
<div class="p-3 flex flex-row items-center justify-center mt-2">
  <div
    class="flex flex-row justify-between items-center gap-2 rounded-full cursor-pointer bg-[#38618e] hover:bg-[#476D97] p-2"
    (click)="clear()"
  >
    <span class="material-symbols-outlined text-white"> add </span>
  </div>
</div>
